/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Raleway'); /*Raleway*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {
  background: #f7f7f7a6;
}

.App {
  text-align: center;
}

header {
  padding: 30px;
  text-align: left;
}

.asana-logo {
  max-width: 150px;
  text-align: left
}

.projects-title a{
  text-decoration: none;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  text-transform: capitalize;
  color: #2e3c54;
} 

.projects-list {
  list-style: none;
  display: inline-block;
  padding: 0;
  width: 600px;
  max-width: 90%;
}

.projects-list-item {
  font-family: 'Raleway', sans-serif;
  background: #f7f7f7c7;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin: 25px;
  padding: 20px 60px;;
  border: 2px solid rgb(48, 62, 85);
  -webkit-box-shadow: -2px 3px 22px 0px rgba(219, 230, 255, 0.78);
  -moz-box-shadow: -2px 3px 22px 0px rgba(219, 230, 255, 0.78);
  box-shadow: -2px 3px 22px 0px rgba(219, 230, 255, 0.78);
}

.projects-list-item:hover {
  background: rgb(48, 62, 85);
  color: white;
  cursor: pointer;
}

.projects-list a{
  text-decoration: none;
  color: #333;
}



.tasks-list {
  list-style: none;
  padding: 0;
}

.tasks-list-items {
  padding: 16px 20px;
  background: #f7f7f7c7;
  border: 2px solid #fb7a60;
  text-decoration: none;
  margin: 12px 65px;  
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
  overflow: auto;
  -webkit-box-shadow: -2px 3px 8px 0px rgba(214,214,214,1);
  -moz-box-shadow: -2px 3px 8px 0px rgba(214,214,214,1);
  box-shadow: -2px 3px 8px 0px rgba(214,214,214,1);
}

.tasks-list-items:hover {
  background: #fb7a60;
}

.tasks-list-items:hover a {
  color: white;
}

.task-list-item-container {
  display: inline-block;
  width: 85%;
}

.rem-button {
  display: inline-block;
  float: right;
  margin: 5px;
  font-size: 0.7em;
  font-weight: bolder;
  font-family: 'Nanum Gothic', sans-serif;
  color: cadetblue;
  border: 2px solid #ff8686;
  color: #ff8686;
  border-radius: 50%;
  padding: 5px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  cursor: pointer;
}

.rem-button:hover {
  transform: scale(1.22);
}

.tasks-list-items:hover .rem-button {
  color: white;
  border-color: white;
}